<!-- The main page of playlister -->
<!DOCTYPE html>
<html>
  <head>
    <title>PlayLister</title>
  </head>
  <body>
      <h1><a href="artists/index.html">Artists: <%= Artist.count %></a></h1>
      <h1><a href="songs/index.html">Songs: <%= Song.count %></a></h1>
      <h1><a href="genres/index.html">Genres: <%= Genre.count %></a></h1>
    </body>
</html>
